# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
website/.next
website/next-env.d.ts
website/dist
# dependencies
website/node_modules
admin/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production


# misc
.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local

website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*

build
./website/build